<% include header %>
<div class="container">
    <div class="row">
                <div class = "col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <section id="past-section">
                <h5>
                    Past:
                </h5>
                <p>
                    I am from Hyderabad,India. I completed my Bachelor's Degree in Computer Science from
                    Vignan Institute of Technology and Science. <br> I worked as a Data Associate in Alexa Data
                    Services(ADS) at
                    Amazon Development Centre, Hyderabad.<br>
                </p>

            </section>
            <section id="present-section">

                <h5>
                    Present :
                </h5>
                I came to pursue Applied Computer Sciences(ACS) as my masters.
            </section>
            <br>

            <section id="future-section">

                <h5>
                    FUTURE GOAL :
                </h5>
                I am really looking forwarding to work as a Data Analyst or Web Developer back again in
                Amazon.
            </section>
            <br>

            <section id="hobby-header">
                <h5>
                    My hobbies:
                </h5>
                photography and playing sports
            </section>
            <br>

            <section class="s">

                <h5> My Schedule for week class </h5>

                <table>

                    <tr>
                        <th> Name of the Course &emsp;</th>
                        <th> Time &emsp;</th>
                        <th> Day </th>
                    </tr>
                    <tr>
                        <td>
                            <li> Adv Db </li>
                        </td>
                        <td> 11:00am-11:50am &emsp;</td>
                        <td> Mon,Wed,Fri </td>
                    </tr>
                    <tr>
                        <td>
                            <li>Web apps</li>
                        </td>
                        <td>12:00pm-12:50pm &emsp;</td>
                        <td>Mon,Wed,Fri </td>
                    </tr>
                    <tr>
                        <td>
                            <li>Obj orient prog</li>
                        </td>
                        <td>02:00pm-03:15pm </td>
                        <td>Tue</td>
                    </tr>
                    <tr>
                        <td>
                            <li>Obj orient prog lab</li>
                        </td>
                        <td>03:15pm-05:15pm</td>
                        <td>Thu</td>
                    </tr>
                </table>
                <br>
            </section>
        </div>
        <div class = "col-md-3 col-sm-3 col-xs-3 col-lg-3">
                <aside>
                    <img id="img" src="images/IMG_0130.JPG" height="250" width="250">
                </aside>  
            </div>
        </div>
    </div>
            <div class = "row">
                <div class = "col-md-1 col-sm-1 col-xs-1 col-lg-1"></div>
                <div class = "col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <iframe width="350" height="250" src="https://www.youtube.com/embed/aJxhPMEDoz0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>"
                </div>
            </div>
            
    

    </div>
<% include footer %>